
.join-button {
    background-color: #007bff !important;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 5px; 
    text-decoration: #fff; 
    transition: background-color 0.3s;
    font-weight: bold;
  }
  
  .join-button:hover {
    background-color: #0056b3 !important; 
  }

  