

html {
  font-size: 17px; 
}

body{
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #333;
}
h1 {
  font-size: 2rem; 
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none !important;
  color : #333;
}


.card-title{
  color: #333 !important;
}

.card-title:hover{
  color: #2ecc71 !important;
}

.button {
  background-color: #00234b;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.35s;
}

.button:hover {
  background-color: #357ebd; 
}

.background-color {
  background-color: #000; 
  color: #fff;
}

p, .paragraph {
  font-weight: 400;
  color: #5c5c77;
  font-size: 15px;
  line-height: 1.9;
  font-family: "Poppins", sans-serif;
}

.hover-shadow {
  transition: 0.3s ease;
}
.hover-shadow:hover {
  box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.3);
}

.navbar-home{
  transition: top 0.3s;
}


/* HEADER */

#large-header {
  background-image: url("./its_web_background.jpg");
  background-color: rgba(191, 255, 108, 0.5);
  filter: brightness(90%) saturate(80%); 
}

.large-header-2{
  background-image: url("./its_web_background.jpg");
  background-color: rgba(191, 255, 108, 0.5);
  filter: brightness(90%) saturate(80%); 
  background-size: cover !important;
  height: 65vh !important;

}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: hsl(251, 55%, 94%);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  transition: text-shadow 0.3s ease-in-out;
  margin-bottom: 20px; 
}
.large-header {
  position: relative;
  width: 100%;
  height: 60vh !important;
  background: #030303;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.media{
  display: flex;
  align-items: center;
}

.speaker-img{
  display: flex;
  margin-right: 10px;
}

.media-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  html {
      font-size: 14px; 
  }
  .demo-1 .main-title {
      font-size: 3em; 
  }
  p {
      font-size: 0.75em; 
  }
}



@media only screen and (min-width : 990px) {
  .large-header.header-home{
    height: 100vh !important;
  }
}

.navbar-brand{
  font-size: 30px !important;
}


#demo-canvas {
  display: block;
  margin-bottom: 20px; 
}

.page-descr{
  position: absolute;
  margin: 0;
  padding: 0;
  color: hsl(251, 55%, 94%);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  transition: text-shadow 0.3s ease-in-out;
  margin-bottom: 20px; 
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}

.page-descr .thin{
  font-weight: 200;
  font-size: 40px;
}

.know-btn{
  position: absolute;
  margin: 0;
  padding: 0;
  align-items: center;
  top: 60%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.wrapper{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.join{
  font-weight: bold;
  background-color: #4e54c8;
}

.join:hover{
  background-color:#3137aa ;
}

.link_wrapper{
  position: relative;
  padding-top: 250px;
}

.my-btn-text {
  display: inline-block; 
  padding: 10px 30px; 
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to right, #4e54c8, #8f94fb); 
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none; 
  border-radius: 25px; 
  transition: transform 0.35s, box-shadow 0.35s; 
}

.my-btn-text:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  vertical-align: middle;
  right: 0;
  top: 250px;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: rgba(139, 147, 255, 1);
  transition: all .35s;
}

.my-btn-text:hover{
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #bbf8d4;
}

.my-btn-text:hover + .icon{
  border: 3px solid #ee8522;
  right: -25%;
}

.my-btn-text:hover + .icon svg{
  fill: #2ecc71 !important;
}

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-sm {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-title {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e4b;
  font-family: "futura-bold";
  font-weight: 700;
  line-height: 1.2;
}


.card-date {
  position: absolute;
  background: #90D26D;
  font-family: "futura-bold";
  text-align: center;
  padding: 10px;
  color: #fff;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.card-date span {
  font-size: 40px;
}

.card-body{
  height: 120px;
}

.card-img-top{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.custom-card{
  background-color: whitesmoke !important;
}

.apply-button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.apply-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.apply-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.apply-button:hover {
  color: #fff;
}
.apply-button:hover:before {
  width: 100%;
}
.carousel-item img {
  height: 450px;
  width: 100%; 
  object-fit: contain; 
}

@media only screen and (max-width: 768px) {
  .nav-items{
    font-size: x-large;
  }
  .large-header{
    height: 65vh !important;
  }
  .demo-1 .main-title .page-descr{
    font-size: 2em;
  }
  .page-descr{
    left: 35%;
    top: 65%;
  }
}

@media only screen and (max-width: 654px){
  .hover-shadow{
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15)
  }
  .large-header-2{
    height: 50vh !important;
  }
  .page-descr {
    font-size: 3rem;
  }
  .page-descr .thin{
    font-size: 28px;
  }
}

@media only screen and (max-width: 482px){
  .hover-shadow{
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15)
  }

  .large-header-2{
    height: 40vh !important;
  }
  .page-descr {
    font-size: 3rem;
  }
  .page-descr .thin{
    font-size: 18px;
    font-weight: 300;
  }
}

.our-team {
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}

.our-team .pic {
  background: #f6931e;
  transition: all 0.3s ease 0s;
}

.our-team:hover .pic {
  padding: 10px;
  border-radius: 10px;
  transform: scale(0.5) translateY(-30%);
}

.our-team .pic img {
  width: 100%;
  height: auto;
}

.our-team .team-content {
  width: 100%;
  padding: 7px 15px;
  background: #f6931e;
  position: absolute;
  bottom: -30%;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.our-team:hover .team-content {
  opacity: 1;
  bottom: -10px;
}

.our-team .title {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}

.our-team .post {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}

.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.35s ease 0s;
}

.our-team .social li {
  display: inline-block;
  margin: 0 5px 0 0;
}

.our-team .social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px 0 15px 0;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.35s ease 0s;
}

.our-team .social li a:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #e06f06;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover:before {
  left: 0;
}

@media only screen and (max-width: 990px) {
  .our-team {
      margin-bottom: 30px;
  }
}

